html {
    box-sizing: border-box;
}

header {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.App {
    text-align: center;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 60px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
}

.custom-tooltip {
    width: 200px;
    margin: 0;
    line-height: 24px;
    border: 1px solid #f5f5f5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    z-index: 0;
}

.custom-tooltip .label {
    margin: 0;
    color: #666;
    font-weight: 700;
}

.custom-tooltip .desc {
    margin: 0;
    color: #999;
}

.custom-tooltip .intro {
    border-top: 1px solid #f5f5f5;
    margin: 0;
}